:root {
  /* iOS UV Gradient Colors */
  --bg-theme: whitesmoke;
  --uv-low: #4cd964;
  --uv-mod: #ffcc00;
  --uv-high: #ff9500;
  --uv-vhigh: #ff3b30;
  --uv-ext: #af52de;
}

.uv-bar {
  position: relative;
  width: 100%;
  height: 6px; 
  border-radius: 10px;
  background: linear-gradient(
    to right,
    var(--uv-low) 0%,
    var(--uv-mod) 25%,
    var(--uv-high) 50%,
    var(--uv-vhigh) 75%,
    var(--uv-ext) 100%
  );
}

.uv-indicator {
  position: absolute;
  top: 50%;
  left: 0%; 
  width: 8px;
  height: 8px;
  background-color: var(--bg-theme);
  border: 2px solid black; 
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease-out;
}