:root {
  /* iOS UV Gradient Colors */
  --bg-theme: whitesmoke;
  --uv-low: #4cd964;
  --uv-mod: #ffcc00;
  --uv-high: #ff9500;
  --uv-vhigh: #ff3b30;
  --uv-ext: #af52de;
}

.uv-bar {
  position: relative;
  width: 100%;
  height: 6px; 
  border-radius: 10px;
  background: linear-gradient(
    to right,
    var(--uv-low) 0%,
    var(--uv-mod) 25%,
    var(--uv-high) 50%,
    var(--uv-vhigh) 75%,
    var(--uv-ext) 100%
  );
}

.uv-indicator {
  position: absolute;
  top: 50%;
  left: 0%; 
  width: 8px;
  height: 8px;
  background-color: var(--bg-theme);
  border: 2px solid black; 
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease-out;
}

#hours-carousel {
  position: relative;
  display: flex;
  align-items: center;
}

#hours-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-stop: x mandatory;
  scrollbar-width: none;
}
#hours-container::-webkit-scrollbar {
  display: none;
}
#hours-container > * {
  scroll-snap-align: start;
  flex-shrink: 0;
}
#main {
  perspective: 1500px;
}
[id$='-container'] {
  perspective: 500px;
}
.card {
  transition: transform 0.3s ease-in-out;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
}
.card:hover, #temp-and-description:hover{
  transform: translateZ(12px);
  transition: transform 0.3s ease-in-out;
}