#root {
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(9, 1fr);
  gap: 1rem;
}

#main {
  grid-area: 4/1/16/8;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  gap: 1rem;
}
#nav {
  grid-area: 3/1/4/8;
  justify-content: left;
  gap: 5%;
}
#temp-and-description {
  grid-area: 1/1/5/4;
}

#low-high-feels {
  grid-area: 1/4/3/6;
}

#dew-humidity-pressure {
  grid-area: 1/6/3/8;
}

#visibility-uv-cloud {
  grid-area: 3/6/5/8;
}
#wind-status {
  grid-area: 3/4/5/6;
}
#next-hours {
  grid-area: 5/1/8/8;
  gap: 1rem;
}
#sidebar {
  grid-area: 3/8/16/10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* grid-template: repeat(8, 1fr) / 1fr; */
}
#rain-chart {
  flex: 1;
}
#date-time-sun {
  flex: 1; 
}
#lunar-calendars {
  flex: 1;
}
#next-hours > * {
  flex: 1;
}