*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(9, 1fr);
  gap: 1rem;
}

#main {
  grid-area: 4/1/16/8;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(7, 1fr);
  gap: 1rem;
}
#nav {
  grid-area: 3/1/4/8;
  justify-content: left;
  gap: 5%;
}
#temp-and-description {
  grid-area: 1/1/5/4;
}

#low-high-feels {
  grid-area: 1/4/3/6;
}

#dew-humidity-pressure {
  grid-area: 1/6/3/8;
}

#visibility-uv-cloud {
  grid-area: 3/6/5/8;
}
#wind-status {
  grid-area: 3/4/5/6;
}
#next-hours {
  grid-area: 5/1/9/8;
  gap: 1rem;
}
#sidebar {
  grid-area: 4/8/16/10;
  display: grid;
  grid-template: repeat(10, 1fr) / 1fr 1fr;
  gap: 1rem;
}
#rain-chart {
  grid-area: 1/1/5/3;
}
#date-time-sun {
  grid-area: 5/1/8/3;
}
#lunar-calendars {
  grid-area: 8/1/11/3;
}
#next-hours > * {
  flex: 1;
}
#header {
  grid-area: 1/1/3/10;
  align-items: center;
}