*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
#nav {
  grid-area: 3/1/4/8;
  justify-content: left;
  gap: 3%;
}
#temp-and-description {
  grid-column: span 2;
  grid-row: span 2;
}
.next-hours-title {
  grid-area: 5/1/6/12;
}
#hours-carousel {
  grid-column: 1/-1;
  grid-row: span 2;
}
#header {
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
#main.days-view {
  grid-template-columns: repeat(auto-fill, minmax(calc(100px + 12vw), 1fr));
}
@media screen  and (width < 880px){
  #temp-and-description {
    grid-column : span 1;
  }
}
@media screen and (width < 550px) {
  .hours-btn {
    display: none;
  }
}
#search-box {
  left: -1.5%;
  padding: 1.5%;
  width: 100%;
  position:relative;
  perspective: 500px;
}
#search-suggestion-box {
  top: 1%;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
  position: absolute;
  z-index: 100;
}