*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
#nav {
  grid-area: 3/1/4/8;
  justify-content: left;
  gap: 5%;
}
#temp-and-description {
  grid-column: span 2;
  grid-row: span 2;
}
.next-hours-title {
  grid-area: 5/1/6/12;
}
#hours-carousel {
  grid-column: 1/-1;
  grid-row: span 2;
}
#header {
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
#main.days-view {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
@media screen  and (width < 880px){
  #temp-and-description {
    grid-column : span 1;
  }
}
@media screen and (width < 550px) {
  .hours-btn {
    display: none;
  }
}