body {
  background-color: peachpuff;
  font-size: calc((0.9rem + 1vw) / 2);
}
#root {
  height: fit-content;
  margin: 2rem 2rem;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
}
.card {
  background-color: rgb(240, 255, 255);
  border-radius: 1rem;
  padding: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold {
  font-weight: 800;
}

.large {
  font-size: calc((3rem + 1.5vw) / 2);
}
.xl {
  font-size: calc((3.5rem + 2vw) / 2);
  font-weight: 900;
}
.nav-btn {
  font: inherit;
  background-color: inherit;
  border: none;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.fa-map-marker {
  margin: auto;
}
.btn, .search-input {
  background-color: azure;
  border: none;
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
#search-bar {
  height: 50%;
  padding: 2px;
  gap: 2px;
  border : 2px solid;
  border-radius: 1.5rem;
}
.search-input {
  border-radius: 1rem 0rem 0rem 1rem;
  background-color: inherit;
}
.search-btn{
  border-radius: 0rem 1rem 1rem 0rem;
}
.toggle {
  padding: 0.75rem;
  height: auto;
  border-radius: 50%;
}
.profile-pic > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
#temp-and-description {
  
}