body {
  font-size: calc((0.8rem + 1.1vw) / 2);
  min-height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  width: 90%;
  height: auto;
  background-color: whitesmoke;
  margin: 0 5%;
  padding: 1rem;
  border-radius: 1rem;
}
.card {
  background-color: rgb(222, 248, 255);
  height: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: calc((2.5rem + 1.6vw) / 2);
}
.xl {
  font-size: calc((3.5rem + 2vw) / 2);
  font-weight: 900;
}
.nav-btn {
  font: inherit;
  background-color: inherit;
  border: none;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.fa-map-marker {
  margin: auto;
}
.btn, .search-input {
  background-color: rgb(222, 248, 255);
  border: none;
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
#search-bar {
  height: calc(2rem + 0.5vh);
  padding: 2px;
  gap: 2px;
  border : 2px solid;
  border-radius: 1.5rem;
}
.search-input {
  border-radius: 1rem 0rem 0rem 1rem;
  background-color: inherit;
}
.search-btn{
  border-radius: 0rem 1rem 1rem 0rem;
}
.toggle {
  padding: 0.75rem;
  height: auto;
  border-radius: 50%;
}
.profile-pic > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.nav-btn {
  color: gray;
}
.active-tab {
  color: black;
  font-weight: 800;
  background-color: rgb(222, 248, 255);
}
.svg-icon {
  width: 3em;
  height: 3em;
}
.gray {
  opacity: 0.7;
}
.hours-btn {
  font: inherit;
  padding: 0.2rem 0.5rem;
  font-size: 1.3rem;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: azure;
}
