body {
  font-size: calc(0.8rem + 0.4vw);
  min-height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(10, 10, 10);
  font-family: 'Comforta';
}
body.dark-theme {
  background-color: rgb(10, 10, 10);
  color: whitesmoke;
}
#root {
  width: 90%;
  height: auto;
  background-color: rgba(128, 128, 128, 0.1) ;
  margin: 0 5%;
  padding: 1rem;
  border-radius: 1rem;
}
.card {
  background-color: rgba(128, 128, 128, 0.1) ;
  height: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: calc((1.2rem + 2vw) / 2);
}
.xl {
  font-size: calc(1.8rem + 2vw);
  font-weight: 900;
}
.nav-btn {
  font: inherit;
  background-color: inherit;
  border: none;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.wi-small-craft-advisory {
  margin-left: 0.5rem;
}
.btn, .search-input {
  background-color: rgba(128, 128, 128, 0.1);
  color: inherit;
  border: none;
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
#search-bar {
  height: 2.5em;
  gap: 2px;
  border: none;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
  border-radius: 1.5rem;
}
.search-input {
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  height: 100%;
  background-color: inherit;
}
.search-btn{
  height: 100%;
  width: 2.5em;
  border-radius: 0rem 1rem 1rem 0rem;
}
.toggle {
  padding: 0.75rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: transparent;
}
.active-toggle {
  background-color: rgba(128, 128, 128, 0.1);
}
.profile-pic > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.nav-btn {
  color: gray;
}
.active-tab {
  color: inherit;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.1) ;
}
.gray, .wi {
  color: rgba(128, 128, 128);
}
.dark-gray {
  opacity: 0.85;
}
.hours-btn {
  font: inherit;
  padding: 0.2rem 0.5rem;
  font-size: 1.3rem;
  border: none;
  height: 100%;
  border-radius: 0.5rem;
}
.hours-btn.prev {
  background: linear-gradient(to right, rgba(0, 0, 0,0), rgba(128, 128, 128, 0.1));
}
.hours-btn.next {
  background: linear-gradient(to right, rgba(128, 128, 128, 0.1), rgba(0, 0, 0, 0));
}
#hours-container {
  padding: 6px 8px;
}
#hours-container > [id$='00-hour'] {
  min-width: 125px;
  min-height: calc(80px + 6vw);
  font-size: 0.8em;
  gap: 0.5rem;
}
#low-high > *{
  justify-content: flex-start;
  gap: 1rem;
}
.small {
  font-size: 0.8em;
}
#main > [id$='-container'] {
  min-height: calc(100px + 5vw);
}
.wi {
  font-size: 1.4rem;
}
#main.days-view .wi{
  font-size: 1.8rem ;
  color: orange;
}
#temp-and-description .wi {
  margin: 1rem 1rem 0 0;
  font-size: 1.3em;
}
#search-suggestion-box {
  background-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(4px);
  border-radius: 1rem;
  padding: 1rem;
  min-height: 250px;
}
.suggestion {
  font-weight: 700;
  background: none;
  text-align: left;
}